.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 15px;
  border-radius: 6px;
  color: black;
  margin-bottom: 20px;
}
.input {
  position: relative;
  max-width: 300px;
}
.input input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
