body {
  height: 100vh;
  background: linear-gradient(135deg, #e68a29, #884804);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  box-sizing: border-box;
}
body > div {
  width: 100%;
  padding: 20px;
  display: grid;
  place-items: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 15px;
  border-radius: 6px;
  color: black;
  margin-bottom: 20px;
}
.input {
  position: relative;
  width: 400px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.input input {
  width: 90%;
  padding: 10px 40px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.input .icon {
  position: absolute;
  right: 10px;
  top: 55%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  text-decoration: line-through;
}
.delete {
  color: red;
  cursor: pointer;
}
