.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 15px;
  border-radius: 6px;
  color: black;
  margin-bottom: 20px;
}
.input {
  position: relative;
}
